src/main/resources/META-INF/mule-ricston.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/ricston"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/ricston"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.2/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>The Mule Ricston Module solves common problems encountered during Mule application development</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Ricston</schemadoc:short-name>
            <schemadoc:page-title>Ricston Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    
    <xsd:element name="ignore-reply-multicasting-router" type="mule:multipleEndpointFilteringOutboundRouterType"
                 substitutionGroup="mule:abstract-outbound-router">
        <xsd:annotation>
            <xsd:documentation>
                Sends the same message over multiple endpoints but returns the original payload.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="ignore-reply-all" type="mule:baseMultipleRoutesRoutingMessageProcessorType" substitutionGroup="mule:abstract-routing-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Sends the same message to multiple message processors or outbound endpoints but returns the original payload.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="ignore-reply-pass-through-router" type="mule:outboundRouterType"
                 substitutionGroup="mule:abstract-outbound-router">
        <xsd:annotation>
            <xsd:documentation>
                Sends the message over a single endpoint but returns the original payload.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="ignore-reply-pass-through" type="mule:baseSingleRouteRoutingMessageProcessorType" substitutionGroup="mule:abstract-routing-message-processor">
        <xsd:annotation>
            <xsd:documentation>
                Sends the message to a single message processors or outbound endpoints but returns the original payload.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

     <xsd:element name="exception-message-processor-chain" type="mule:messageProcessorChainType" substitutionGroup="mule:abstract-message-processor">
        <xsd:annotation>
            <xsd:documentation>The use of globally defined processor-chain element is deprecated since Mule 3.2.  Use sub-flow instead.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>
